{% extends "HomeBundle::layout.html.twig" %}

{% block title %} changer de mot de passe {% endblock %}
{% block body %}
    <div class="size-210  p-lr-70 p-t-100 p-b-70 p-lr-15-lg " style="margin: 0 auto;">
        <form action="{{ path('auth_change_password') }}" id="loginForm" method="post">
            <h4 class="mtext-105 cl2 txt-center p-b-30">
                Changer de mot de passe
            </h4>

            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="password" placeholder="Entrer votre ancien mot de passe">
            </div>

            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="newPassword" placeholder="Entrer votre nouveau mot de passe">
            </div>

            <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer login_btn">
                Modifier
            </button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $(document).on('submit', '#loginForm', function (e) {
                e.preventDefault();
                var url = $(this).attr('action'),
                    act = $('.login_btn').text();
                data = $(this).serialize();

                $.ajax({
                    type: 'post',
                    url: url,
                    data: data,
                    datatype: 'json',
                    beforeSend: function () {
                        $('.login_btn').text('Chargement...').prop('disabled', true);
                    },
                    success: function (json) {
                        if (json.status == 0) {
                            swal("Succèss", json.mes);
                            //window.location.reload();
                        }else{
                            swal("Erreur", json.mes);
                        }
                    },
                    complete: function () {
                        $('.login_btn').text(act).prop('disabled', false);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
{% endblock %}