{% extends "HomeBundle::layout.html.twig" %}

{% block title %} changer de mot de passe {% endblock %}
{% block body %}
    <div class="row" style="margin: 0 auto; margin-top: 50px; margin-bottom: 50px">
        <div class="col-md-6 col-md-offset-3" style="box-shadow: 4px 4px 4px 0px rgba(59,57,59,0.95); padding: 20px">
            <form action="{{ path('auth_forgot_password') }}" id="loginForm" method="post">
                <h2>
                    Réinitialiser votre mot de passe
                </h2>

                <div class="form-group">
                    <input class="btn-block" required type="email" name="email" placeholder="Entrer votre adresse email">
                </div>
                <div class="form-group">
                    <button class="login_btn btn-block">
                        Obtenir le lien de réinitialisation
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset('bundles/home/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('bundles/home/js/sweetalert/sweetalert.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(document).on('submit', '#loginForm', function (e) {
                e.preventDefault();
                var url = $(this).attr('action'),
                    act = $('.login_btn').text();
                data = $(this).serialize();

                $.ajax({
                    type: 'post',
                    url: url,
                    data: data,
                    datatype: 'json',
                    beforeSend: function () {
                        $('.login_btn').text('Chargement...').prop('disabled', true);
                    },
                    success: function (json) {
                        if (json.status == 0) {
                            swal("Succèss", json.mes);
                        }else{
                            swal("Alerte!", json.mes);
                        }
                    },
                    complete: function () {
                        $('.login_btn').text(act).prop('disabled', false);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
{% endblock %}