{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Modifier mot de passe {% endblock %}
{% block titleContent %} Changez de mot de passe {% endblock %}
{% block body %}
    <form class="uk-grid uk-margin-large" style="background: white; padding: 20px" action="{{ path("admin_change_password") }}" id="changePasswordForm">
        <h2>Changer de mot de passe</h2><br/>
        <div class="uk-width-medium-1-1">
            <input class="md-input" id="oldPassword" name="password" placeholder="Mot de passe actuel" required="" type="password">
        </div>
        <div class="uk-width-medium-1-1">
            <input class="md-input" id="newPassword" name="newPassword" placeholder="Nouveau mot de passe" required="" type="password">
        </div>
        <div class="uk-width-medium-1-1 uk-margin-medium-top">
            <button type="submit" class="sendBtn uk-button uk-button-success uk-button-large">Modifier</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
        <script>
            $('#changePasswordForm').on('submit', function (e) {
                e.preventDefault();
                url = $(this).attr("action");
                data = new FormData($(this)[0]);
                $.ajax({
                    type : "post",
                    data : data,
                    url: url,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (json) {
                        if(json.status == 0) {
                            UIkit.notify({message:json.mes,status:'success',timeout : 5000,pos:'top-center'});
                            $("#newPassword").val('');
                            $("#oldPassword").val('');
                        }else{
                            UIkit.notify({message:json.mes,status:'danger',timeout : 5000,pos:'top-center'});
                        }
                    },
                    complete: function () {
                        $('.sendBtn').val("Modifier");
                    },
                    beforeSend: function () {
                        $('.sendBtn').val("Chargement...");
                    }
                })
            })
        </script>
{% endblock %}