{% extends "AdminBundle::layout.html.twig" %}
{% block title %} Modifier mot de passe {% endblock %}
{% block titleContent %} Changez de mot de passe {% endblock %}
{% block body %}
    <form class="m-t-md" action="{{ path("admin_change_password") }}" id="changePasswordForm">
        <div class="form-group">
            <input class="form-control" id="oldPassword" name="password" placeholder="Mot de passe actuel" required="" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" id="newPassword" name="newPassword" placeholder="Nouveau mot de passe" required="" type="password">
        </div>
        <button type="submit" style="background: #e2017b" class="sendBtn btn btn-success btn-block">Modifier</button>
    </form>
{% endblock %}

{% block scripts %}
        <script>
            $('#changePasswordForm').on('submit', function (e) {
                e.preventDefault();
                url = $(this).attr("action");
                data = new FormData($(this)[0]);
                $.ajax({
                    type : "post",
                    data : data,
                    url: url,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (json) {
                        if(json.status == 0)
                            toastr.error(json.mes);
                        else{
                            toastr.success(json.mes);
                            $("#newPassword").val('');
                            $("#oldPassword").val('');
                        }
                    },
                    complete: function () {
                        $('.sendBtn').val("Modifier");
                    },
                    beforeSend: function () {
                        $('.sendBtn').val("Chargement...");
                    }
                })
            })
        </script>
{% endblock %}