{% extends "HomeBundle::layout.html.twig" %}

{% block title %}A propos-Nop Agency{% endblock %}
{% block body %}
    <!-- Page Info section -->
    <section class="page-info-section set-bg" data-setbg="{{ asset('bundles/home/img/page-top-bg/1.png') }}">
        <img src="{{ asset('bundles/home/img/page-top-bg/page-info-img.png') }}" alt="" class="page-info-img">
        <div class="container">
            <h2>About us</h2>
            <div class="site-breadcrumb">
                <a href="">Home</a> /
                <span>A propos</span>
            </div>
        </div>
    </section>
    <!-- Page Info end -->


    <!-- About section -->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 about-text">
                    <div class="sp-title">
                        <span>Begginer & Advanced</span>
                        <h4>Description</h4>
                    </div>
                    <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor. Ut pellentesque auctor lorem, at maximus lacus faucibus nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris auctor nunc non nulla euismod consequat. Pellentesque non mattis nulla. Fusce quis tempor risus, non elementum dui. Curabitur et mattis ex, a ultrices lorem. </p>
                    <a href="#" class="site-btn">lear more</a>
                </div>
                <div class="col-lg-6  order-1 order-lg-2">
                    <img src="{{ asset('bundles/home/img/about-img.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About section end -->


    <!-- About page section  -->
    <section class="ap-course-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="ap-course-item">
                        <div class="ci-icon">
                            <i class="flaticon-002-yin-yang"></i>
                        </div>
                        <div class="ci-content">
                            <span>Begginer & Advanced</span>
                            <h4>Yoga</h4>
                            <p>Etiam pretium, nibh vitae varius ultr icies, tellus diam gravida elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ap-course-item">
                        <div class="ci-icon">
                            <i class="flaticon-001-meditation"></i>
                        </div>
                        <div class="ci-content">
                            <span>Begginer & Advanced</span>
                            <h4>Hatha</h4>
                            <p>Etiam pretium, nibh vitae varius ultr icies, tellus diam gravida elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ap-course-item">
                        <div class="ci-icon">
                            <i class="flaticon-021-yoga-mat"></i>
                        </div>
                        <div class="ci-content">
                            <span>Begginer & Advanced</span>
                            <h4>Pilates</h4>
                            <p>Etiam pretium, nibh vitae varius ultr icies, tellus diam gravida elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About page section end -->


    <!-- Appointment section -->
    <section class="appointment-section set-bg" data-setbg="img/appointment-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="appointment-img">
                        <img src="{{ asset('bundles/home/img/appointment-icon.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="appointment-text text-white">
                        <span>Begginer & Advanced</span>
                        <h2>Make an appointment</h2>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor. Ut pellentesque auctor lorem, at maximus lacus faucibus nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris auctor nunc non nulla euismod consequat. Pellentesque non mattis nulla. Fusce quis tempor risus, non elementum dui. Curabitur et mattis ex, a ultrices lorem.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Appointment section -->

    <!-- Gallery section -->
    <div class="gallery-section">
        <div class="gallery-slider owl-carousel">
            <div class="gallery-item">
                <img src="img/gallery/1.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/2.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/3.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/4.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/5.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Gallery section end -->
{% endblock %}
{% block script %}

{% endblock %}