{% extends "HomeBundle::layout.html.twig" %}

{% block title %}A propos-Nop Agency{% endblock %}
{% block body %}

    <!-- Page Info section -->
    <section class="page-info-section set-bg" data-setbg="{{ asset('bundles/home/img/page-top-bg/4.png') }}">
        <div class="container">
            <h2>Contact</h2>
            <div class="site-breadcrumb">
                <a href="">Accueil</a> /
                <span>Blog</span>
            </div>
        </div>
    </section>
    <!-- Page Info end -->


    <!-- Contact page section -->
    <section class="contact-page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-text">
                        <div class="sp-title">
                            <span>Contact info</span>
                            <h4>A propos de nous</h4>
                        </div>
                        <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros eros sit amet ipsum. Cras cursus pellentesque tortor. Ut pellentesque auctor lorem, at maximus lacus faucibus nec. Interdum et malesuada.</p>
                        <h6>Information</h6>
                        <ul>
                            <li>Douala-Cameroun</li>
                            <li>+237 699252846</li>
                            <li>nopagency@contact.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sp-title mb-0">
                        <span>Contact info</span>
                        <h4>Faites une suggestion</h4>
                    </div>
                    <form class="contact-form" method="post" action="{{ path('home_contact') }}" id="formCommentaire">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="email" name="email" placeholder="Votre email">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button id="btn-commentaire" class="site-btn">send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact page section end -->

    <!-- Gallery section -->
    <div class="gallery-section">
        <div class="gallery-slider owl-carousel">
            <div class="gallery-item">
                <img src="img/gallery/1.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/2.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/3.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/4.jpg" alt="">
            </div>
            <div class="gallery-item">
                <img src="img/gallery/5.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Gallery section end -->
{% endblock %}
{% block script %}
    <script src="{{ asset('bundles/home/js/sweetalert.min.js') }}"></script>
    <script>
        $('#formCommentaire').on("submit", function (e) {
            e.preventDefault();
            data = $(this).serialize();
            $.ajax({
                type: 'post',
                url: $(this).attr('action'),
                data: data,
                datatype: 'json',
                beforeSend: function () {
                    $('#btn-commentaire').text('Chargement ...').prop('disabled',true);
                },
                success: function (json) {
                    if(json.status == 0){
                        swal(json.mes, '', 'success');
                        $('#commentaire').val('');
                    }else{
                        swal(json.mes, '', 'warning');
                    }
                },
                complete: function () {
                    $('#btn-commentaire').text('souscrire').prop('disabled',false);
                },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });

        })
    </script>
{% endblock %}