{% extends "HomeBundle::layout.html.twig" %}
{% block title %} Favoris {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12 mb-5">
            <h2 class="text-center">Mes favoris <i class="fa fa-heart"></i></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                    <table class="table-shopping-cart">
                        <tr class="table_head">
                            <th class="column-1">Vêtement</th>
                            <th class="column-2"></th>
                            <th class="column-3">Prix (XAF)</th>
                            <th></th>
                        </tr>

                        {% for wish in wisheslist %}
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{ asset('uploads/thumbnails/'~wish.product.images[0].thumbnail) }}" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">{{ wish.product.name }}</td>
                                <td class="column-3">
                                    {{ wish.product.price }} XAF
                                </td>
                                <td>
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
                                    data-url="{{ path('home_cart_add', {product: wish.product.id}) }}"
                                    >
                                        Ajouter au panier
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('.js-addcart-detail').each(function(){

                var btnAdd = $(this);
                $(this).on('click', function(){
                    var nameProduct = $("#product_name").val(),
                        url = btnAdd.data('url');
                    $.ajax({
                        type: 'post',
                        url: url,
                        data: 'size='+$('#product_size').val()+'&number='+$('#product_number').val(),
                        datatype: 'json',
                        beforeSend: function () {
                            //
                        },
                        success: function (json) {
                            if(json.status == 0){
                                swal(nameProduct, json.mes, "success");
                            }else{
                                swal(nameProduct, json.mes, "warning");
                            }
                        },
                        complete: function () {
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                        }
                    });
                });
            });
        })
    </script>
{% endblock %}