<html>
<head>
    <title>News Concert Camer</title>
    <meta charset="utf-8">
</head>
    <body>
        <div>
            <div style="position:relative;padding: 10px; width: 70%;background: #39f">
                <h2 style="color: white;">Concert Camer</h2>
            </div>
            <div style="margin-top: 5px">
                <h3 style="margin: 5px;"><b><span id="salutation"></span> {{ nom }}</b></h3>
                <p style="margin: 5px">{{ message }}</p>
            </div>
        </div>
        <script>
            var hours = new Date().getHours();
            var result;
            if(hours <= 12 ){
                result = "Bonjour "
            }else if(hours <= 14){
                result = "Bonne après midi "
            }else{
                result = "Bonsoir "
            }
            document.getElementById("salutation").innerHTML = result;
        </script>
    </body>
</html>